.google-map {
  width: 100%;
  height: calc(100vh - 200px);
  display: block;
}

.map-marker {
  width: 250px;
  padding: 8px 12px;
  border-radius: 3px;
  box-shadow: 0 0 5px #ccc;
  display: block;
  position: relative;
  opacity: .9;
  background: rgba(255, 255, 255, .7);
  transition: .2s;

  &:hover {
    opacity: 1;
    z-index: 100;
    background: rgba(255, 255, 255, 1);
  }
  &::before {
    content: " ";
    background: $accent-color-2;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
  }
}