.search-location {
  border-radius: 5px;
  padding: 20px;
  margin: 0 0 20px;
  border: 1px solid #eee;
  background-color: #fff;

  .logo {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 667px) {
  .search-location {
    .flex-row {
      flex-direction: column;
      text-align: center;
      .col {
        margin: 0 0 10px;
        width: 100%;
      }
      .col + .col {
        margin-left: 0;
      }
    }
    .btn, .form-element {
      width: 100%;
      display: block;
    }
  }
}