body {
  font-family: 'Roboto', sans-serif;
  color: $color;
  background-color: $app-bg;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 15px;
}

.flex-row {
  display: flex;
  align-items: center;

  .col + .col {
    margin-left: 15px;
  }
}

ol, ul {
  li {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}