* {
  outline: none;
}

.btn {
  display: block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 15px;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &.btn-primary {
    color: #fff;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    opacity: .9;

    &:hover {
      opacity: 1;
      box-shadow: 0 0 5px $accent-color;
    }
  }
}

.form-element {
  display: block;
  padding: 0.5rem 0.75rem;
  font-size: 15px;
  line-height: 1.25;
  border-radius: 0.25rem;
  border: 1px solid #eee;
  user-select: none;
  transition: all .2s ease-in-out;

  &:focus {
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee;
  }
}
