.loader {
  border: 2px solid #eee;
  border-top: 2px solid $accent-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
  display: inline-block;
  opacity: 1;
  transition: opacity .2s;

  &.hidden{
    opacity: 0;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
